.title {
  display: block;
  text-align: center;
  color: #5e6977;
  font-size: 18px;
  margin: 30px 0;
}
/* 
.order {
  display: flex;
  flex-direction: column;
}

.dateOfOrder {
  color: #43484d;
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e8ee;
  font-style: italic;
}

.item {
  padding: 0 30px;
  height: 70px;
  display: flex;
  border-bottom: 1px solid #e1e8ee;
}

.productImage {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.image {
  width: 50px;
  height: 60px;
  object-fit: contain;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  flex-basis: 100%;
}

.description span {
  display: block;
  font-size: 12px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 27px;
  margin: 0 10px;
  display: flex;
  flex-shrink: 0;
  flex-basis: 110px;
  justify-content: space-around;
  align-items: baseline;
}

.quantity span {
  text-align: center;
  width: 32px;
  color: #43484d;
}

.totalPrice {
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  flex-shrink: 0;
  flex-basis: 100px;
  text-align: right;
}

.total {
  display: flex;
  justify-content: end;
  padding: 10px 30px 30px 0;
}

.totalInCart {
  color: #43484d;
  padding-left: 80px;
} */
