.shoppingCart {
  margin: 20px auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.title {
  height: 40px;
  border-bottom: 1px solid #e1e8ee;
  padding-left: 30px;
  padding-bottom: 20px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.total {
  display: flex;
  justify-content: end;
  padding-right: 30px;
  padding-top: 10px;
}

.totalInCart {
  color: #43484d;
  padding-left: 80px;
}

.order {
  margin: 0 auto;
}

.orderNow {
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 10px 0;
}

.orderNow:hover {
  background-color: cyan;
}

@media (max-width: 800px) {
  .shoppingСart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
