.productHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.category {
  color: darkgray;
  margin-top: 15px;
  text-decoration: underline;
}

.productName {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.productPage_img {
  object-fit: contain;
  width: 500px;
  flex-shrink: 0;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.backButton button,
.buy button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.backButton button img {
  height: 50px;
}

.productContent {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.contentRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  font-style: italic;
  margin-left: 20px;
}

.buy {
  display: flex;
  justify-content: space-evenly;
}

.price {
  color: darkred;
  font-size: 80px;
  align-self: center;
}

.productPage_cart {
  display: flex;
  height: 100px;
}
