.menu {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
  }
  
  .menuButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    width: 150px;
  }

  .menuButton_active {
    background-color: aqua;
  }
  
  
  .menu button:hover {
    background-color: aqua;
  }