.App {
    width: 1100px;
    display: block;
    margin: 0 auto;
    border: 1px solid darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}