.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.loginPage p:not(.error) {
  margin-bottom: 20px;
  color: blue;
}

.loginPage p,
.loginButton {
  font-size: 24px;
}

.auth {
  margin-bottom: 10px;
}

.loginInput,
.passInput,
.auth span,
.error {
  font-size: 20px;
}

.passInput {
  margin-left: 9px;
}

.loginButton {
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background-color: #e1e8ee;
  border-radius: 6px;
}

.loginButton:hover {
  background-color: cyan;
}

.error {
  margin-top: 10px;
  color: darkred;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
}

.successImage {
  height: 70px;
}

.successMessage {
  text-align: center;
  font-size: 24px;
  margin: 40px 0;
}
